<h1><%= t('edit.coin') %></h1>
<%= render 'form', coin: @coin %>
<br>
<div class="col-3">
<%= link_to t('links.show'), @coin, class: 'btn btn-info' %>
<%= link_to t('buttons.back'), coins_path, class: "btn btn-secondary" %>
</div>